In [18]:
from pyspark.sql.types import StructType,StructField,StringType,IntegerType

In [37]:
#  Say you have 2 columns String and Integer type respectively and want to store it in 3rd column

x = [("Joy", 1 ),("Ram", 2 ),("Abhi", 3 ),("Deb", 4 )]

In [38]:
data = sc.parallelize(x)

In [39]:
data.collect()

[('Joy', 1), ('Ram', 2), ('Abhi', 3), ('Deb', 4)]

In [40]:
schema = StructType([
    StructField("first_name",StringType(), True),
    StructField("Id",IntegerType(),True)
])

In [41]:
df = spark.createDataFrame(data, schema)

In [42]:
df.printSchema()

root
 |-- first_name: string (nullable = true)
 |-- Id: integer (nullable = true)

In [43]:
df.show()

+----------+---+
|first_name| Id|
+----------+---+
|       Joy|  1|
|       Ram|  2|
|      Abhi|  3|
|       Deb|  4|
+----------+---+

In [48]:
from pyspark.sql.functions import concat_ws    
result = df.withColumn("first_name + Id", concat_ws("_","first_name","Id"))    
result

DataFrame[first_name: string, Id: int, first_name + Id: string]

In [49]:
result.show()

+----------+---+---------------+
|first_name| Id|first_name + Id|
+----------+---+---------------+
|       Joy|  1|          Joy_1|
|       Ram|  2|          Ram_2|
|      Abhi|  3|         Abhi_3|
|       Deb|  4|          Deb_4|
+----------+---+---------------+