In [5]:
from pyspark import *
from pyspark.sql import SparkSession

In [18]:
spark

In [7]:
sc= spark.sparkContext

In [8]:
x = sc.parallelize(["b", "a", "c"])
print(x.collect())

['b', 'a', 'c']

In [9]:
y = x.map(lambda z: (z, 1))
print(y.collect())

[('b', 1), ('a', 1), ('c', 1)]

In [10]:
#Write a code to get only odd numbers.
x = sc.parallelize([1,2,3])
odd = x.filter(lambda num:num % 2 !=0)
print(odd.collect())

[1, 3]

In [11]:
# Return a new RDD by first applying a function 
# to all elements of this RDD, and then flattening the results
# Input: [1,2,3]
# Output: [1, 100, 42, 2, 200, 42, 3, 300, 42]

x = sc.parallelize([1,2,3])
flattened = x.flatMap(lambda num:(num,num*100,42))
print(flattened.collect())

[1, 100, 42, 2, 200, 42, 3, 300, 42]

In [12]:
# Write a code to group the data by the first letter.
# Input: ['John', 'Fred', 'Anna', 'James']
x = sc.parallelize(['John', 'Fred', 'Anna', 'James'])
grouped = x.groupBy(lambda word:word[0])
grouped.mapValues(list).collect()

[('J', ['John', 'James']), ('A', ['Anna']), ('F', ['Fred'])]

In [13]:
# Write a code to group the data pair by Key.
# Input: [('B', 5),('B', 4),('A', 3),('A', 2),('A', 1)]
x = sc.parallelize([('B', 5),('B', 4),('A', 3),('A', 2),('A', 1)])
print(x.collect()) 
groupedByKey = x.groupByKey()
# print(groupedByKey.collect()) 
# [('A', <pyspark.resultiterable.ResultIterable object at 0x7f10832cd400>)
groupedByKey.mapValues(list).collect()

[('B', 5), ('B', 4), ('A', 3), ('A', 2), ('A', 1)]

[('A', [3, 2, 1]), ('B', [5, 4])]

In [14]:
# Write a code to sum given numbers. Input: [1, 2, 3, 4]
x=sc.parallelize([1, 2, 3, 4])
x.sum()

10

In [15]:
# Write a code to Add all the data in a group .
# Input: [('B', 5),('B', 4),('A', 3),('A', 2),('A', 1)]
# Output : [('A', 6), ('B', 9)]
x = sc.parallelize([('B', 5),('B', 4),('A', 3),('A', 2),('A', 1)])
groupedSum = x.reduceByKey(lambda accum , num : accum + num)
print(groupedSum.collect())

[('A', 6), ('B', 9)]